
body {
    background-image:url(C:\Users\reypa\Downloads\Latasaludando.webp);
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size:
    
  }
